<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="gr.example.zografos.vasileios.pythonguru">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".ForgotPwdActivity">
        </activity>
        <activity
                android:name=".NewQuestionActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ResetTeacherPwdActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".TeacherMenuActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".NewTeacherActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".TeacherLoginActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".HelpActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".AnswerActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".FinalQuizActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".QuizActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".LessonActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".LessonsActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ProgressActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ProfileActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".QuizzesActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".RegisterActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".MainMenuActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".MainActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>